.ant-card-head-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
}
/* 去掉 AntD Tabs 底部分隔线 */
:where(.css-dev-only-do-not-override-198drv2).ant-tabs-top > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-198drv2).ant-tabs-bottom > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-198drv2).ant-tabs-top > div > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-198drv2).ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: none;
}
.ant-card .ant-card-head, .ant-card .ant-card-head ant-tabs-nav{
    border: none;
}
.ant-tabs-tab-btn{
    font-size: 15px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    
    .login-sider{
        width: 800px;
        height: 100%;
        background-color: #f8fafe;
        /* 当视口宽度 < 1000px 时隐藏 */
        @media (max-width: 999px) {
            display: none;
        }
        background-image: url('../../assets/bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
    }

    .login-container{
        width: 100%;
        height: 100%;
        position: relative;

        .login{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 450px;
            height: 540px;
            padding: 0 20px;
            border-radius: 12px;
            box-shadow: 0 0 30px rgba(0,0,0,0.1);
            border: #f8f8f8 1px solid;
            background-color: white;

            .bubble {
                position: absolute;
                top: 10px;
                right: 70px;
                opacity: 0;
                visibility: hidden;
                transition: opacity .2s, visibility .2s;
                transition-delay: 0ms;
                background-color: #3875f7;
                border-radius: 8px;
                padding: 0px 12px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                max-width: 150px;
                font-size: 14px;
                color: white;
                z-index: 1;
                .arrow {
                    position: absolute;
                    width: 20px;
                    aspect-ratio: 1 / 1;
                    background-color: #3875f7;
                    clip-path: polygon(0 0, 100% 0, 100% 100%);
                    transform: rotate(45deg);
                    transform-origin: center;
                    top:12px;
                    right:-5px;
                    z-index: 1;
                }
            }

            .qrBtn{
                position: absolute;
                top:5px;
                right:5px;
                width:60px;
                height:60px;
                line-height: 60px;
                background:#8aa6f6;
                clip-path:polygon(0 0,100% 0,100% 100%); /* 直角三角形 */
                border-radius: 0 8px 0 0;
                z-index: 1;
                font-size: 40px;
                text-align: right;
                color: white;
            }

            .qrBtn:hover{
                background-color: #3875f7;
            }

            .otherLogin{
                padding: 0 24px;
                margin: 50px auto 0;
                .text{
                    color: #b4b4b4;
                    font-weight: normal;
                    font-size: 14px;
                    letter-spacing: 0.1em;
                }
            }

            .registerText{
                position: absolute;
                width: 100%;
                font-size: 14px;
                bottom: -45px;
                justify-content: center;
                text-align: center
            }
        }
    }

    

    
}

/* 进入登录框且鼠标在二维码上时，延迟 200 ms 显示气泡 */
.login:hover .qrBtn:hover ~ .bubble,
.login:hover .bubble:hover {   /* 允许鼠标滑到气泡上 */
    visibility: visible;
    opacity: 1;
    transition-delay: 200ms;
}